<style>

    /* ======== HEADER ======== */
    header {
      background: #c0392b;
      color: white;
      text-align: center;
      padding: 20px 10px;
    }
    header h1 { margin: 0; font-size: 2.2em; }
    header p { margin: 5px 0 0; font-size: 1.1em; }
</style>




<header>
  <h1>ASBR-TT</h1>
  <p>Convivialité • Formation • Compétition</p>
  <nav>
    <a href="index.html">Accueil</a>
    <a href="agenda.html">Agenda</a>
    <a href="membres.html">Membres</a>
    <a href="contact.html">Contact</a>
  </nav>
</header>
